.comment {
    background-color: rgba(12, 11, 22, 0.9);
    color: #DDD;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px rpx rgba(0, 0, 0, 0.2);
}

.commentBody {
    margin-bottom: 0.5rem;
}

.commentFooter {
    font-size: 0.875rem;
    color: #BBB;
}

.author, .time {
    margin-right: 0.5rem;
}

.strong {
    color: #E0E0E0;
}

@media (max-width: 768px) {
    .comment {
        padding: 0.75rem;
        font-size: 0.9rem;
        word-wrap: break-word;
    }

    .commentFooter {
        font-size: 0.75rem;
    }

    .author, .time {
        margin-right: 0.25rem;
    }

    .commentBody {
        margin-bottom: 0.25rem;
    }
}