.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

input:focus, button:focus {
    outline: 2px solid #bcb7f0;
}

button:hover {
    background-color: #a17fe0;
    color: #fff;
}

button:active {
    background-color: #6d3b9a;
    color: #fff;
}

@media (max-width: 768px) {
    .inputContainer {
        flex-direction: column;
        width: 90%;
        margin-left: 1.15rem;
    }
    input, button {
        width: 100%;
    }
}